.miniMode {
    padding: 1rem;
    margin: 0 25%;
    border: 1px dashed slategrey;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.postEntry {
    margin: 7rem 0;
}

.newPost {
    margin: 0 25%;
}

.newPost__input {
    width: 30rem;
    margin: 0.5rem 0;
}

.newPost__description {
    width: 100%;
    height: 5em;
}

.newPost__drop {
    padding: 1rem;
    color: gray;
    font-size: 1rem;
    border: 1px dotted lightgrey;
    text-align: center;
}

.newPost__upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0 0 0;
}

.newPost__fileUpload {
    flex-basis: 30%;
}

.newPost__uploadPrompt {
    flex-basis: 50%;
}

.newPost__plus {
    font-size: 6rem;
}

.post {
    margin: 0 25%;
    flex-basis: 50%;
}

.post__title {
    font-size: 2em;
    margin: 1.5em 0 0.1em 0;
    list-style-type: none;
}

li.post {
    list-style-type: none;
}

.post__image {
    width: 100%;
}

.post__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__tagline {
    font-size: 1.0em;
    margin: 1em 0 0.5em 0;
    line-height: 110%;
}

.post__remark {
    font-size: 1.0em;
    margin: 1em 0 0.5em 0;
    line-height: 110%;
}
.favoriteButton {
    height: 1.2em;
    width: 1.2em;
    margin: 0.5em 0.5em;
    cursor: pointer;
    background-color: none;
    border: none;
} 

.favoriteButton.blankStar {
    background: url("../images/favorite-star-blank.svg")
} 

.favoriteButton.yellowStar {
    background: url("../images/favorite-star-yellow.svg")
} 
